<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles de la Película - DeustoStream</title>
    <link rel="stylesheet" href="/styles.css"> 
    <link rel="stylesheet" href="/detalles.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=DM+Sans:wght@400;600&display=swap" rel="stylesheet">
<body>

    <h1>Detalles de la Película</h1>

    <div class="pelicula-detalle">
        <div class="detalle-info">
            <h2 th:text="${pelicula.titulo}"></h2>
            <p><strong>Año:</strong> <span th:text="${pelicula.anio}"></span></p>
            <p><strong>Género:</strong> <span th:text="${pelicula.genero}"></span></p>
            <p><strong>Duración:</strong> <span th:text="${pelicula.duracion}"></span> minutos</p>
            <p><strong>Sinopsis:</strong> <span th:text="${pelicula.sinopsis}"></span></p>
        </div>
        <!--<div class="detalle-imagen">
        </div> -->
    </div>

<a href="/catalogo">Volver al listado de películas</a>

</body>
</html>
