<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión - DeustoStream</title>
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css">
</head>

<body>
    <div class="login-container">
        <div class="logo-login">
            <img th:src="@{/images/logoDeustoStream.png}" alt="Logo DeustoStream" class="logo-small">
            <h1>DeustoStream</h1>
        </div>

        <h2>Iniciar Sesión</h2>

        <form action="/login" method="post" class="login-form">
            <input type="email" name="correo" placeholder="Correo" required th:value="${correoValor}" />

            <input type="password" name="contrasenya" placeholder="Contraseña" required
                th:value="${contrasenyaValor}" />

            <div class="checkbox-container">
                <input type="checkbox" id="guardar-contrasenya" name="guardarContrasenya"
                    th:checked="${guardarContrasenya}" />
                <label for="guardar-contrasenya">Guardar contraseña</label>
            </div>

            <button type="submit">Entrar</button>
        </form>

        <p th:if="${error}" th:text="${error}" class="error-msg"></p>

        <p class="registro-link">¿No tienes cuenta? <a href="/registro">Regístrate aquí</a></p>
    </div>
</body>

</html>