<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <title>Deusto Stream</title>
</head>
<body>
    <header id="header-admin">
        Panel de Administración - Deusto Stream
    </header>
    <div class="logo-container" style="text-align: center; margin: 20px 0;">
        <img th:src="@{/images/logoDeustoStream.png}" alt="Imagen de portada">
    </div>
    
    <div id="gestion-links">
        <a th:href="@{/admin/usuarios}" href="/admin/usuarios">Gestión de Usuarios</a>
        <a th:href="@{/admin/peliculas}" href="/admin/peliculas">Gestión Películas</a>
        <a th:href="@{/admin/series}" href="/admin/series">Gestión Series</a>
        <button class="logout-btn" onclick="window.location.href='/logout'">Cerrar sesión</button>
    </div>

</body>
</html>
